@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;1,100&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root{ 
    /* Background Color */
    --bg-danger:#e54466;
    --bg-white:#fff;
    --bg-light-white:#f5f5f5;
    --bg-dark: #1c1a1a ;

    /* Text Color */
    --primary-font:"Poppins", sans-serif;
    --text-white:#fff;
    --text-black:#121212; 
    --text-danger:#e54466; 
    --text-gray:#aaa;
    --text-dark-gray:#777;
}  
body {
    font-family: var(--primary-font);
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.75rem;
    background:var(--bg-white);
    color: var(--text-black);
    overflow-x:hidden;
} 

/* Custom CSS */
a,
a:hover{
    text-decoration: none;
}
p{
    margin:0;
}
.btn-danger{
    background:var(--bg-danger);
    border-color:var(--bg-danger);
    padding:0.8rem 1.5rem;
    font-size: 1rem;
    font-weight: 500;
}
.btn-danger:hover{
    color:var(--text-danger);
    background:transparent; 
}



#header .fixed-top{
    box-shadow: 0 0.125rem 0.675rem rgb(0 0 0 / 5%);
}
#header .navbar-nav .nav-item .nav-link{
    color:var(--text-black);
    padding:0.5rem 1rem;
    text-align: center;
}
#header .navbar-nav .nav-item .nav-link:hover,
#header .navbar-nav .nav-item .nav-link.active{
    color:var(--text-danger);
}
#header .navbar-toggler-icon{
    width:unset;
    height:unset;
}
#header .navbar-toggler:focus{
    box-shadow: none;
}


.img-fluid{
    width: 100px;
    height: 40px;
}


.contactus{
    position: relative;
    width: 100%;
    padding: 40px 100px;
}

.contactus .title{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
}

.contactus .title h2{
    color: #fff;
    font-weight: 500;
}

.form{
    grid-area: form;
}

.info{
    grid-area: info;
}

.map{
    grid-area: map;
}

.contact{

    padding: 40px;
    background-color: #fff;
    box-shadow: 0 5px 35px rgba(0, 0, 0, .15);
}

.box{
    position: relative;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 5fr 4fr;
    grid-template-areas: 
    "form info"
    "form map";

    grid-gap: 20px;
    margin-top: 20px;
}

.contact h3{
    color: #0e3959;
    font-weight: 500;
    font-size: 1.4em;
    margin-bottom: 10px;
}

/* form */

.formBox{
    position: relative;
    width: 100%;
}

.formBox .row50{
    display: flex;
    gap: 20px;
}

.inputBox{
    
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    width: 100%;
}

.formBox .row50 .inputBox{
     width: 100%;
}

.inputBox span{
    color: #e54466 ;
    margin-top: 10px;
    margin-bottom: 5px;
    font-weight: 500;
}

.inputBox input{
    padding: 10px;
    font-size: 1.1em;
    outline: none;
    border: 1px solid #333;
}

.inputBox textarea{
    padding: 10px;
    font-size: 1.1em;
    outline: none;
    border: 1px solid #333;
    resize: none;
    min-height: 220px;
    margin-bottom: 10px;

}

.inputBox input[type="submit"]
{
    background-color: #e54466;
    color: #fff;
    border: none;
    font-size: 1.1em;
    max-width: 120px;
    font-weight: 500;
    cursor: pointer;
    padding: 14px 15px;
}

.inputBox ::placeholder{
    color: rgb(104, 103, 103);
}


.info .infoBox div{

    display: flex;
    align-items:center;
    margin-bottom: 10x;
}

.info .infoBox div span{
    min-width: 40px;
    height: 40px;
    color: #e54466;
    display: flex;
    justify-content: center;
    align-items: center;
    font-style: 1.5rem;
    margin-right: 15px;
}

.info .infoBox div p{
    color: #0e3959;
    font-size: 1.1rem;
}

.info .infoBox div a{
    color: #0e3959;
    text-decoration: none;
}

.sci{
    margin-top: 40px;
    display: flex;

}

.sci li{
    list-style: none;
    margin-right: 15px;
}

.sci li a{
    color: #e54466;
    font-size: 2em;
}

.sci li a:hover{

    color: #0e3959;
}

.map{
    padding: 0;
}
 .map iframe{
     width: 100%;
     height: 100%;
 }

 /* responsive */
 @media ( max-width:991px)
 {
     .contactus{
         padding: 20px;
     }

     .box{
         position: relative;
         display: grid;
         grid-template-columns: 1fr;
         grid-template-rows: auto;
         grid-template-areas: 
         "form"
         "info"
         "map"
         ;
     }

     .map{
         min-height: 300px
     }

     .formBox .row50{
         display: flex;
         gap: 0;
         flex-direction: column;
     }

     .inputBox{

         width: 100%;
     }
 }

